<h2 id="title">Welcome to Ember</h2>

<Link 
  @to='parent.child' 
  class='vanilla'
  data-test-parent-child-link>
  Parent/Child
</Link>

<br />

<Link 
  @to='dynamic' 
  @models={{1}} 
  class='dynamic-with-id'
  data-test-dynamic-with-id>
  Link to dynamic route with an id passed
</Link>

<br />

<Link 
  @to='dynamic' 
  @models={{someObject}} 
  class='dynamic-with-object'
  data-test-dynamic-with-object>
  Link to dynamic route with an object passed
</Link>

{{outlet}}